/* JP edits from 2014-04-16 */
/* dl.sub-nav dt {display:none;} */
/* dl.sub-nav dd {padding-left:0; margin-left:0;} */
ul.sub-nav {margin: 0; margin-top:0.7em; margin-bottom: 1em; border-bottom-color: rgb(216, 216, 216); border-bottom-style: solid; border-bottom-width: 1px;}
/* ul.sub-nav li {border:1px solid green;} */
ul.sub-nav li a {padding-left: 0;}
/* .label {border-radius: 3px;} */
td { vertical-align: top; }
div.pubtable table {margin-bottom: 0; padding-bottom: 0;}

@media only screen and (max-width: 64.063em) {
.pubtable {padding: 0; margin-left: 0;}
}

@media only screen and (min-width: 64.063em) {
.pubtable.left {padding-left: 0; margin-left: 0;}
.pubtable.right {padding-right: 0; margin-right: 0;}
}

ul.footer-links {margin-left:0; padding-top:0.3em;}

ul.footer-links li
{
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	color: rgb(34, 34, 34);
	cursor: default;
	display: block;
	float: left;
	font-size: 0.8em;
	font-style: normal;
	font-weight: bold;
	height: 19px;
	line-height: 19px;
	list-style-position: inside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0;
	padding-right: 0px;
	padding-top: 0px;
	text-align: text-align;
	text-transform: capitalize;
}

ul.footer-links li a {margin-right: 1em;}
a:hover {text-decoration: underline;}
.header a:hover, .tabs a:hover {text-decoration: none;}

div.footer-bottom {
background: #f2f2f2;
border-top: solid 1px #d8d8d8; 
border-bottom: solid 1px #d8d8d8; 
padding-left: 0.9em;
padding-right: 0.9em;
-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;

}


p.copyright {
/* margin: 4px 20px 4px 0.9em; */
font-size: 0.8rem;
color: #666;
}

.pubtable p a {text-decoration: underline;}

td, p, li, input {font-size: 0.8em !important;}

/* JP headers 2015-01-26 */
h1, h2, h3, h4, h5, h6 {color: #444;}

h1 {
  font-size: 1.3875rem !important;
  font-weight: bold;
  /* font-size: 2.125rem; */ 
  }

h2 {
  font-size: 1.275rem; }

h3 {
  font-size: 0.8rem !important; margin-bottom: 0; padding-bottom: 0; font-weight: bold;}

h4 {
  font-size: 0.7rem; }

h5 {
  font-size: 0.6rem !important; }

h6 {
  font-size: 0.5rem; }
 

 
ul.tabs li.active a {color:#fff !important; background-color:#007167 !important;}

html { 
  background: url('../img/School_fallback_Mfs_2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sub-nav, .side-nav, .main-content {background-color: #fff;}
/* .backstretch:after,#background */
html:after{background-image:url('../img/video_mask.png');position:fixed;width:100%;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=65);opacity:0.65;content:"";z-index:-1;top:0;left:0;right:0;bottom:0;}
div#wrapper {background-color:white;    -moz-box-shadow:    0 0 10px #000000;
   -webkit-box-shadow: 0 0 10px #000000;
   box-shadow:         0 0 10px #000000;}
.header {padding-left: 0; padding-right: 0;}
.side-nav {padding-left:0; padding-right:0;}
.side-nav input {margin-left:0.9em;}
div.large-9 {padding-left:0.9em; padding-right:0.9em;}

@media only screen and (min-width: 28.4em) {
ul.tabs li a, ul.tabs li a:hover { border-bottom: 1px #efefef solid !important; } 
ul.tabs li a:hover { border-bottom: 1px #e1e1e1 solid !important; } 
ul.tabs li.active a { border-bottom: 1px #007167 solid !important; } 
}


@media only screen and (max-width: 28.4em) {
ul.tabs li {width:100%;}
}

.tabs dd > a, .tabs .tab-title > a {padding: 0.5rem 1rem; font-size: 0.8rem;}

div.content {padding-top:0 !important;}

table tr td a {word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}

	
ul.tabs li.tab-title:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 15px solid white;
    border-left: 15px solid #efefef;
    width: 0;
}	

ul.tabs li.tab-title:hover:before {
    border-left: 15px solid #e1e1e1;
}	

ul.tabs li.active:before, ul.tabs li.active:hover:before {
    border-left: 15px solid #007167;
}	

.header h1, .header h1 a
{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;          
}

.side-nav li {margin:0; padding: 0;}
.side-nav li a {margin:0; padding: 0;}
.side-nav li span.label {margin:0;}
.sidebar form, .sidebar form input {margin-bottom: 0; padding-top: 0;}

dl.accordion-list, dl.ep_latest_list { font-size: 0.8em; font-weight: normal;}
.accordion-list dt, .ep_latest_list dt { border-top: 1px #dddddd solid;}

.show_hide
{
	width: 1.2em;
	height: 1.2em;
	padding: 0;
	margin: 0; 
	font-style: normal;
	font-size: 1.5em;	
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
}

a.show_hide
{
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	text-decoration: none;
}

.top-bar.expanded .toggle-topbar a {color:white;}

.tabs-content table, .tabs-content p {margin-bottom: 0;}
div.tabs-content {margin-bottom: 0;}
img.montage {margin-bottom: 1em;}
.side-nav li a:not(.button) {padding:0; margin:0.2em 0;}
.sidebar nav ul {padding-top:0; margin-top:0;}
p {font-size: 0.9em !important;}
